In [8]:
import cv2
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import glob
import os

In [9]:
import pytesseract
pytesseract.pytesseract.tesseract_cmd='C:\\Program Files\\Tesseract-OCR\\tesseract.exe'

#simple testing

In [ ]:
imgs = 'C:/Users/User/Documents/Vip/M_output'

In [10]:
img=cv2.imread('Cropped_4.png')
cv2.imshow('sample img',img)
cv2.waitKey(0)
cv2.destroyAllWindows()

In [11]:
text = pytesseract.image_to_string(img, lang ='eng', config ='--psm 11')
print(text)

[ PLA2545~|

# path verification

In [12]:
import glob
from IPython.display import Image, display

In [13]:
#path_for_license_plates = "C:/Users/User/Documents/Vip/M_output/*"
path_for_license_plates = "C:/Users/User/Documents/Vip/Msia_Cropped/*"
list_license_plates = []
predicted_license_plates = []

In [14]:
#searching through the directory and printing out the list of file names
file_list = glob.glob(path_for_license_plates)
print(file_list)
print(len(file_list))

['C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_1.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_10.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_11.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_12.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_13.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_14.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_15.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_16.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_17.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_18.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_19.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_2.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_20.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_21.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_22.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_23.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_24.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_25.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_26.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_27.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_28.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_29.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_3.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_30.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_31.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_32.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_33.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_34.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_35.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_36.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_37.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_38.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_39.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_4.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_40.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_41.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_42.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_43.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_44.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_45.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_46.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_47.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_48.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_49.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_5.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_50.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_51.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_52.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_53.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_54.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_55.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_56.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_57.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_58.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_59.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_6.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_60.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_61.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_62.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_63.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_64.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_65.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_66.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_67.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_68.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_69.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_7.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_70.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_71.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_72.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_73.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_74.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_75.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_76.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_8.png', 'C:/Users/User/Documents/Vip/Msia_Cropped\\Cropped_9.png']
76

# testing

In [15]:
#read the file
for path_to_license_plate in glob.glob(path_for_license_plates, recursive = True):
      
    license_plate_file2 = path_to_license_plate.split("/")[-1]
    license_plate_file1 = license_plate_file2.split("\\")[-1]
    license_plate_file = license_plate_file1.split("_")[-1]
  
    license_plate, _ = os.path.splitext(license_plate_file)
   
    #Here we append the actual license plate to a list
   
    list_license_plates.append(license_plate)
      
    '''
    Read each license plate image file using openCV
    '''
    img = cv2.imread(path_to_license_plate)
      
    predicted_result = pytesseract.image_to_string(img, lang='eng',config ='--psm 11')
      
    filter_predicted_result = "".join(predicted_result.split()).replace(":", "").replace("-", "")
    predicted_license_plates.append(filter_predicted_result)

In [16]:
print(predicted_license_plates)

['MAH41|', 'BUY6688_', '|NCHTL', 'ADW8887', 'ip)==WA!)', '', '|DlE394PLE5334', '', '', 'OATS3Bil', 'Pe,KB', 'VBL7689', 'PMN7595,', 'ou75°', 'xgWe', 'BAG1130', 'PGI', '|BNA9435|', '', '‘SMSBOS', '', '', ')PPF2308_|', '', 'PH8170°', 'yK00535', 'AGR7840', '', 'EQ', 'BNQ8463', '|Re”|JC1945', '', '_AKB7568', 'PPP7698', '|PPX3454|', '|PFGTUG', '', '|PPR.PPR7135', 'PCL7204', 'PNT2080', 'PGC6107,', '—AKE1728', '_PNN6076.', 'PNR6168', '[PLA2545~|', '=MALAYSIA7984', 'PLU8965', 'PMT1209"', 'BDV9090.', '', '', '43%pP', '', 'PPB154!', '<T]<i', 'PLUS828', 'VEK6340', 'PPF5639|', '|?pV996!\\', '', '|PEU8497', '_PKH3490', 'PKF2703', '', 'PUR3672', '', 'VW1054', '|PLYS017', '', 'ee,45OCE', 'PNS7501__|', 'qUAIOC8WUA1623|', 'ee', 'KY2621|', '', 'WA5066R']

# Printing the output

In [47]:
df1 = pd.DataFrame({'a':list_license_plates,
                   'b':predicted_license_plates})

In [48]:
df1

     a                b
0    1           MAH41|
1   10         BUY6688_
2   11           |NCHTL
3   12          ADW8887
4   13        ip)==WA!)
..  ..              ...
71  74  qUAIOC8WUA1623|
72  75               ee
73  76          KY2621|
74   8
75   9          WA5066R

[76 rows x 2 columns]

In [49]:
df1['a'] = df1['a'].astype(int)
df2 = df1.sort_values(by=['a'])
df2

     a                b
0    1           MAH41|
11   2          VBL7689
22   3       )PPF2308_|
33   4          PPP7698
44   5       [PLA2545~|
..  ..              ...
69  72         ee,45OCE
70  73       PNS7501__|
71  74  qUAIOC8WUA1623|
72  75               ee
73  76          KY2621|

[76 rows x 2 columns]

In [51]:
df2.set_index('a')
print(df2.dtypes)

a     int32
b    object
dtype: object

# evaluation

In [17]:
print("Actual License Plate", "\t", "Predicted License Plate", "\t", "Accuracy")
print("--------------------", "\t", "-----------------------", "\t", "--------")
  
def calculate_predicted_accuracy(actual_list, predicted_list):
    for actual_plate, predict_plate in zip(actual_list, predicted_list):
        accuracy = "0 %"
        num_matches = 0
        if actual_plate == predict_plate:
            accuracy = "100 %"
        else:
            if len(actual_plate) == len(predict_plate):
                for a, p in zip(actual_plate, predict_plate):
                    if a == p:
                        num_matches += 1
                accuracy = str(round((num_matches / len(actual_plate)), 2) * 100)
                accuracy += "%"
        print("     ", actual_plate, "\t\t\t", predict_plate, "\t\t  ", accuracy)
  
          
calculate_predicted_accuracy(list_license_plates, predicted_license_plates)

Actual License Plate 	 Predicted License Plate 	 Accuracy
-------------------- 	 ----------------------- 	 --------
      1 			 MAH41| 		   0 %
      10 			 BUY6688_ 		   0 %
      11 			 |NCHTL 		   0 %
      12 			 ADW8887 		   0 %
      13 			 ip)==WA!) 		   0 %
      14 			  		   0 %
      15 			 |DlE394PLE5334 		   0 %
      16 			  		   0 %
      17 			  		   0 %
      18 			 OATS3Bil 		   0 %
      19 			 Pe,KB 		   0 %
      2 			 VBL7689 		   0 %
      20 			 PMN7595, 		   0 %
      21 			 ou75° 		   0 %
      22 			 xgWe 		   0 %
      23 			 BAG1130 		   0 %
      24 			 PGI 		   0 %
      25 			 |BNA9435| 		   0 %
      26 			  		   0 %
      27 			 ‘SMSBOS 		   0 %
      28 			  		   0 %
      29 			  		   0 %
      3 			 )PPF2308_| 		   0 %
      30 			  		   0 %
      31 			 PH8170° 		   0 %
      32 			 yK00535 		   0 %
      33 			 AGR7840 		   0 %
      34 			  		   0 %
      35 			 EQ 		   0.0%
      36 			 BNQ8463 		   0 %
      37 			 |Re”|JC1945 		   0 %
      38 			  		   0 %
      39 			 _AKB7568 		   0 %
      4 			 PPP7698 		   0 %
      40 			 |PPX3454| 		   0 %
      41 			 |PFGTUG 		   0 %
      42 			  		   0 %
      43 			 |PPR.PPR7135 		   0 %
      44 			 PCL7204 		   0 %
      45 			 PNT2080 		   0 %
      46 			 PGC6107, 		   0 %
      47 			 —AKE1728 		   0 %
      48 			 _PNN6076. 		   0 %
      49 			 PNR6168 		   0 %
      5 			 [PLA2545~| 		   0 %
      50 			 =MALAYSIA7984 		   0 %
      51 			 PLU8965 		   0 %
      52 			 PMT1209" 		   0 %
      53 			 BDV9090. 		   0 %
      54 			  		   0 %
      55 			  		   0 %
      56 			 43%pP 		   0 %
      57 			  		   0 %
      58 			 PPB154! 		   0 %
      59 			 <T]<i 		   0 %
      6 			 PLUS828 		   0 %
      60 			 VEK6340 		   0 %
      61 			 PPF5639| 		   0 %
      62 			 |?pV996!\ 		   0 %
      63 			  		   0 %
      64 			 |PEU8497 		   0 %
      65 			 _PKH3490 		   0 %
      66 			 PKF2703 		   0 %
      67 			  		   0 %
      68 			 PUR3672 		   0 %
      69 			  		   0 %
      7 			 VW1054 		   0 %
      70 			 |PLYS017 		   0 %
      71 			  		   0 %
      72 			 ee,45OCE 		   0 %
      73 			 PNS7501__| 		   0 %
      74 			 qUAIOC8WUA1623| 		   0 %
      75 			 ee 		   0.0%
      76 			 KY2621| 		   0 %
      8 			  		   0 %
      9 			 WA5066R 		   0 %